<div class="mainContainer">
  <h2 class="backgroundText" data-aos="fade-up">Hosting</h2>
  <section class="segment segment--first">
    <div class="segment__description" data-aos="fade-right" data-aos-duration="1000">
      <h3 class="segment__title">La mejor experiencia de servicio</h3>
      <p>Para convertirnos en socios de <strong>Green Geeks</strong>, primero fuimos clientes de su servicio y debemos decir que siempre fue de categoría premium.
        Cada vez que tuvimos una duda, siempre pudimos recurrir a su canal de soporte por chat y tickets de servicio, teniendo respuesta inmediata. 
        Es por esto que decidimos hacernos socios y conectar a los emprendedores peruanos y todos nuestros clientes con este gran servicio de <strong>hosting</strong> de categoría mundial.
      </p>

      <img class="segment__descImage" src="../../assets/images/meraki-solutions-hosting-empresas.svg" alt="google cloud services">

      <p>Los servidores e instalaciones de Green Geeks, son completamente autosostenibles por energías renovables, lo que la hace la única empresa de hosting a nivel mundial
        100% green o ecoamigable.
      </p>
    </div>

    <div class="segment__rightImage w3-hide-small" data-aos="fade-left" data-aos-duration="1000">
      <img class="segment__image" src="../../assets/images/meraki-solutions-hosting.jpg" alt="meraki solutions hosting">
    </div>
  </section>

  <!-- <div class="graphic">
    <h3>Página en construcción</h3>
    <img src="../../../assets/images/meraki-under-construction.svg" alt="página en construcción">
  </div> -->

</div> 