<div id="app_content">
  <h2 class="app-bg" data-aos="fade-up">Apps</h2>
  <section class="app-segment-1">
    <div class="segment-text" data-aos="fade-right" data-aos-duration="1000">
      <h3>Transformación digital</h3>
      <p>Es una nueva era donde la tecnología nos ayuda a conseguir objetivos de formas que jamás habiamos
        visto.</p>
      <p>Meraki Solutions lo ayudará a conseguir el rendimiento y nivel de digitalización que su empresa o proyecto
        necesita.</p>

      <img src="../../assets//images/google cloud.png" alt="google cloud services">

      <p style="margin: 3em 0;">
        Trabajamos de la mano con uno de los más grandes referentes en tecnología como lo es Google y el ecosistema
        de servicios en la nube de Google Cloud.</p>
    </div>

    <div class="w3-hide-small segment-image" data-aos="fade-left" data-aos-duration="1000">
      <img src="../../assets/images/google-pixel.png" alt="app image">
    </div>
  </section>

  <section class="app-segment-2">
    <div class="segment-text" data-aos="fade-left" data-aos-duration="1000">
      <h3>Nuestro ciclo de desarrollo</h3>
      <p>Existe un paradigma generado a través de la gestión anticuada de proyectos de software, el cual pone a las
        empresas bajo la incertidumbre
        de como se esta llevando a cabo el proyecto y cual será el resultado al final de varios meses de trabajo en las
        sombras por parte de su proveedor de sotfware.
      </p>
      <p>Meraki Solutions utiliza SCRUM como metodología ágil de gestión de proyectos de software, permitiendonos hacer
        entregables de forma semanal
        a nuestros clientes y revisar los resultados junto con ellos, para evaluar posibles cambios o pivotes de mejora
        dentro del desarrollo.
      </p>

      <p>Esta práctica eleva la confianza de nuestros servicios, ya que podrán revisar los resultados desde la primera
        semana de desarrollo.</p>
    </div>

    <div class="w3-hide-small segment-image" data-aos="fade-right" data-aos-duration="1000">
      <img src="../../assets/images/app-image-2.jpg" alt="app image" style="width: 100%;">
    </div>
  </section>

  <iframe title="What is SCRUM" data-aos="fade-right" data-aos-duration="1000"
    src="https://www.youtube.com/embed/a33xOe9d_Dk" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <section class="bd-segment-5">
    <h2 class="app-bg" data-aos="fade-up">Solutions</h2>
    <div class="container" data-aos="fade-right" data-aos-duration="1000">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Migración de sistemas</h3>
          <p>Servicio de análisis, planificación y migración de sistemas a Google Cloud. El servicio se puede extender a 
            una actualización de funcionamiento en la nube</p>
          <a matRipple class="mat-elevation-z4" (click)="openContact('Migración de sistemas')"
            aria-label="asesor migracion de sistemas">Contactar asesor</a>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Desarrollo de Apps</h3>
          <p>Servicio de ingeniería, planificación, diseño y desarrollo de aplicaciones web o móviles, comenzando con un MVP 
            web, para validar el concepto.</p>
          <a matRipple class="mat-elevation-z4" (click)="openContact('Desarrollo de Apps')"
            aria-label="asesor desarrollo de apps">Contactar asesor</a>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Realidad Aumentada</h3>
          <p>Servicio de ingeniería, planificación, diseño y desarrollo de aplicaciones de realidad aumentada, pudiendo extender
            sistemas basados en unity y firebase para mostrar información en AR</p>
          <a matRipple class="mat-elevation-z4" (click)="openContact('Realidad Aumentada')"
            aria-label="asessor realidad aumentada">Contactar asesor</a>
        </div>
      </div>
    </div>
  </section>

  <section class="app-segment-3">
    <h2 class="app-bg" data-aos="fade-up">Works</h2>
    <div class="segment-text" data-aos="fade-right" data-aos-duration="1000">
      <h3>En proceso</h3>
      <ul>
        <li (mouseenter)="changeAppProjectImage(0)"><span>001</span> Meraki Delivery App</li>
        <li (mouseenter)="changeAppProjectImage(1)"><span>002</span> Almacenes La Joya</li>
        <li (mouseenter)="changeAppProjectImage(2)"><span>003</span> Standard Jobs La Joya</li>
      </ul>
    </div>

    <div class="segment-image" data-aos="fade-left" data-aos-duration="1000">
      <img id="app_projects_image" class="w3-hide-small" src="../../assets/images/meraki-delivery-app.jpg"
        alt="imagen de proyecto">
      <img id="app_projects_image_mobile" class="w3-hide-large w3-hide-medium"
        src="../../assets/images/meraki-delivery-app-mobile.jpg" alt="imagen de proyecto">
      <figcaption>
        <h2></h2>
        <p>{{projectDescription}}</p>
      </figcaption>
    </div>
  </section>

  <section class="app-segment-4">
    <div class="app-card" data-aos="fade-up" data-aos-duration="500">
      <span>18</span>
      <span>Proyectos entregados</span>
    </div>
    <div class="app-card" data-aos="fade-up" data-aos-duration="1000">
      <span>03</span>
      <span>Productos Meraki</span>
    </div>

  </section>

</div>