/* APPLICATIONS */

.app {
  position: relative;
  min-height: 100vh;
}

.app__title {
  position: absolute;
  top: -3%;
  left: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15vw;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* VIDEO SCRUM */

.app__frame {
  width: 100%;
  height: 50vh;
  margin-top: 10%;
  padding: 0 2em;
}

/* APP SEGMENT 1 - GOOGLE CLOUD */

.segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.segment--paddingtop {
  padding-top: 10%;
}

.segment--paddingbottom {
  padding-bottom: 20%;
}

.segment--margintop {
  margin-top: 10%;
}

.segment__text {
  position: relative;
  padding: 0 2em;
  width: 50%;
  align-self: center;
}

.segment__text--order {
  order: 2;
}

.segment__picture {
  position: relative;
  width: 90%;
  margin: 1.5em 0em;
  left: 50%;
  transform: translateX(-50%);
}

.segment__total {
  width: 100%;
}

.segment__half {
  width: 50%;
}

.segment__picture--filter {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.segment__image {
  position: relative;
  width: 50%;
  padding: 0 2em;
  transition: ease-in-out 0.3s;
}

.segment__image--right:hover {
  transform: skew(-5deg, 5deg) scale(1.1);
}

.segment__image--left:hover {
  transform: skew(5deg, -5deg) scale(1.1);
}

.segment__title {
  font-size: 3.5em;
  color: #fff;
}

/* APP SEGMENT 3 - PROJECTS*/

.projects {
  position: relative;
  padding: 25% 0 10% 0;
  display: flex;
  align-items: initial;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.projects__text {
  position: relative;
  width: 40%;
  padding: 0 2em;
}

.projects__title {
  font-size: 3em;
  color: #fff;
}

.projects__list {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #5f6368;
}

.projects__item {
  list-style: none;
  width: fit-content;
  margin-bottom: 0.7em;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.projects__count {
  font-size: 0.7em;
}

.projects__item:hover {
  color: #f8bb16;
  transform: translateX(10%);
}

.projects__image {
  position: relative;
  width: 60%;
}

.projects__picture {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.projects__image:hover .projects__picture {
  opacity: 0.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.projects__caption {
  position: absolute;
  bottom: 10%;
  text-align: left;
}

.projects__subtitle {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.projects__paragraph::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 62%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.projects__image:hover .projects__paragraph::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.projects__paragraph {
  color: white;
  padding: 1em 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.projects__image:hover .projects__paragraph {
  /* padding: 1em 1em; */
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.segment__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  border-radius: 10px 10px;
  background: #424242;
  color: #c4c4c4;
  width: 45%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.segment__card:hover {
  transform: translateY(-10%);
}

.segment__number {
  font-size: 9vw;
  line-height: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 45%;
}

.segment__card-span {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 45%;
}

/* APPLICATIONS SOLUTIONS */

.bd-segment {
  position: relative;
  margin-top: 10%;
  padding-top: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bd-segment__text {
  position: relative;
  width: 50%;
  padding: 0 2em;
  align-self: center;
}

.bd-segment__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bd-segment__box {
  position: relative;
  height: 400px;
  margin: 2em 1em;
  background: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bd-segment__content {
  position: relative;
  padding: 20px;
}

.bd-segment__subtitle {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #c4c4c41f;
  transition: ease-in-out 0.5s;
}

.bd-segment__box:hover .bd-segment__subtitle {
  top: -120px;
}

.bd-segment__title {
  margin: 0 0 10px;
  padding: 0;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.bd-segment__paragraph {
  margin: 0 0 10px;
  padding: 0;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.bd-segment__box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #f8bb16;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.bd-segment__link {
  position: relative;
  border: 1px solid #ffffff;
  padding: 1.5em;
  font-size: 0.5em 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #ffffff;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.bd-segment__box:hover .bd-segment__link {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.bd-segment__link:hover {
  background: #f8bb16;
  color: #222;
  border: 1px solid #222;
}

@media(max-width:600px) {
  .segment {
    display: block;
  }
  .app__title {
    font-size: 19vw;
    top: -1%;
  }
  .segment__text {
    width: 100%;
  }
  .segment__title {
    font-size: 2.3em;
    width: 100%;
  }
  .app-segment-1 .segment-text img {
    width: 100%;
  }
  .projects {
    display: block;
  }
  .projects__subtitle {
    font-size: 13vh !important;
  }
  .projects__text {
    width: 100%;
  }
  .projects__image {
    padding: 10% 0;
    width: 100%;
  }
  .segment__card {
    width: 100%;
    margin-bottom: 2em;
  }
  .segment__number {
    font-size: 20vw;
  }
  .segment__card-span {
    font-size: 6vw;
  }
  .bd-segment__container {
    flex-direction: column;
  }
  .bd-segment .app__title {
    font-size: 10vh !important;
  }
  .bd-segment__box:hover .bd-segment__subtitle {
    top: -80px;
  }
  .bd-segment__box:hover .bd-segment__link {
    top: 22px;
  }
}