<footer class="footer">
  <div class="footer-menu">
    <ul>
      <li routerLink="applications">Aplicaciones</li>
      <li routerLink="big-data">Big Data</li>
      <li routerLink="websites">Websites</li>
      <li routerLink="i2ot">I2OT</li>
      <li routerLink="about-us">Nosotros</li>
    </ul>
  </div>

  <div class="footer-contact">
    <div class="contact-title">
      <h2>Hagamos realidad esa idea!</h2>
      <p>Envíanos un mensaje</p>
    </div>
    <form [formGroup]="contactFormGroup">
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput color="primary" type="text" formControlName="mail" placeholder="nombre@empresa.com"
          autocomplete="off">
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <textarea matInput formControlName="messege" cols="10" rows="5"></textarea>
      </mat-form-field><br>

      <div class="contact-actions">
        <span></span>
        <button mat-raised-button color="secondary" (click)="submit()" aria-label="submit button">Enviar</button>
      </div>

    </form>

  </div>

  <!-- <div class="footer-partner">
    <a href="https://cloud.withgoogle.com/partners/detail/?id=meraki-solutions&hl=es-419" target="_blank"
      rel="noopener"><img src="../../assets/images/partner.png" alt="google cloud partner"></a>
    <a href="https://greengeeks.com/track/merakisolutions" target="_blank" rel="noopener"><img
        src="../../assets/images/green-tag-2.png" alt="green geeks partner"></a>
  </div> -->

  <div class="contact">
    <h3 class="contact__title">Contáctanos</h3>
    <ul class="contact__list">
      <li class="contact__item"><mat-icon class="contact__icon">mail</mat-icon> <a href="mailto:servicios@meraki-s.com">servicios@meraki-s.com</a></li>
      <li class="contact__item"><mat-icon class="contact__icon">call</mat-icon> 054-329367</li>
      <li class="contact__item"><mat-icon class="contact__icon">phone_android</mat-icon> 966677277</li>
      <li class="contact__item"><mat-icon class="contact__icon">phone_android</mat-icon> 966765624</li>
      <li class="contact__item"><mat-icon class="contact__icon">business</mat-icon> <a href="https://g.page/MerakiSolutions?share" target="_blank"> ¿Cómo llegar?</a></li>
    </ul>
  </div>

</footer>

<div class="footer-copy">
  <p>Todos los derechos reservados. Diseñado y desarrollado por Meraki Solutions</p>
</div>