<div class="app">
  <h2 class="app__title" data-aos="fade-up">BigData</h2>
  <section class="segment segment--paddingtop">
    <div class="segment__text" data-aos="fade-right" data-aos-duration="1000">
      <h3 class="segment__title">Inteligencia empresarial</h3>
      <p>Convierte los datos en información valiosa y la información en conocimiento, gracias a las herramientas de
        análisis de datos de Google y nuestros partners tecnológicos
        que integran flexibilidad, escalabilidad, colaboración y analítica avanzada.
      </p>

      <img class="segment__picture  segment__half" src="../../assets/images/meraki-big-data.svg"
        alt="meraki big data">

      <p style="margin: 3em 0;">
        Ten la tranquilidad de que tu solución de BI estará disponible para todos los usuarios, estén donde estén, y que
        podrás escalarla según sea necesario.</p>
    </div>

    <div class="w3-hide-small segment__image segment__image--right" data-aos="fade-left" data-aos-duration="1000">
      <img class="segment__total" src="../../assets/images/segment-1-image.png" alt="big data image">
    </div>
  </section>

  <section class="segment segment--margintop">
    <div class="segment__text segment__text--order" data-aos="fade-left" data-aos-duration="1000">
      <h3 class="segment__title">La caja perfecta de herramientas!</h3>
      <p>
        <strong style="color: white">Dataprep</strong>: Es un servicio de datos inteligente que utilizamos para
        examinar,
        limpiar y preparar
        datos estructurados y no estructurados de forma visual para procesos de análisis.
      </p>
      <p>
        <strong style="color: white">BigQuery</strong>: Es un almacén de datos empresariales que permite consultas de
        SQL de
        alta velocidad
        mediante el poder de procesamiento de la infraestructura de Google.
      </p>
      <p>
        <strong style="color: white">Datalab</strong>: Es una herramienta interactiva y pontente, creada para explorar,
        analizar, transformar
        y visualizar datos, así como compilar modelos de aprendizaje automático.
      </p>
      <p>
        <strong style="color: white">DataStudio</strong>: Es una herramienta de visualización de datos y creación de
        reportes, la cual incluye
        conectores para las principales herramientas de Google (Analytics, BigQuery, Sheets, etc).
      </p>
    </div>

    <div class="w3-hide-small segment__image segment__image--left" data-aos="fade-right" data-aos-duration="1000">
      <img class="segment__innerImage" src="../../assets/images/meraki-big-data.jpg" alt="big data image">
    </div>
  </section>

  <iframe title="Meraki Big Data, Big Query" data-aos="fade-right" data-aos-duration="1000"
    src="https://www.youtube.com/embed/kud8YDvBKHE" frameborder="0" class="app__frame"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <section class="bd-segment">
    <h2 class="app__title" data-aos="fade-up">Solutions</h2>
    <div class="bd-segment__container" data-aos="fade-right" data-aos-duration="1000">
      <div class="bd-segment__box">
        <div class="bd-segment__content">
          <h2 class="bd-segment__subtitle">01</h2>
          <h3 class="bd-segment__title">Analítica de datos</h3>
          <p class="bd-segment__paragraph">Servicio de extracción, transformación, carga y exploración de datos. Entrega
            de reportes en DataStudio, Jupyter Notebooks o aplicaciones desarrolladas</p>
          <a matRipple class="bd-segment__link mat-elevation-z4" (click)="openContact('Analítica de datos')"
            aria-label="contact form data analytics">Contactar asesor</a>
        </div>
      </div>
      <div class="bd-segment__box">
        <div class="bd-segment__content">
          <h2 class="bd-segment__subtitle">02</h2>
          <h3 class="bd-segment__title">Activar Power BI</h3>
          <p class="bd-segment__paragraph">Servicio de ingeniería, planificación e implementación de dashboards e
            indicadores, utilizando Power BI y el ecosistema de trabajo</p>
          <a matRipple class="bd-segment__link mat-elevation-z4" (click)="openContact('Activar Power BI')"
            aria-label="contact form data analytics">Contactar asesor</a>
        </div>
      </div>
      <div class="bd-segment__box">
        <div class="bd-segment__content">
          <h2 class="bd-segment__subtitle">03</h2>
          <h3 class="bd-segment__title">Mantto. Power BI</h3>
          <p class="bd-segment__paragraph">Servicio de análisis y reestructuración de dashboards, datastores, formulas e
            indicadores en formato correctivo y planificado.</p>
          <a matRipple class="bd-segment__link mat-elevation-z4" (click)="openContact('Mantto. Power BI')"
            aria-label="contact form data analytics">Contactar asesor</a>
        </div>
      </div>
    </div>
  </section>

  <section class="projects">
    <h2 class="app__title" data-aos="fade-up">Works</h2>
    <div class="projects__text" data-aos="fade-right" data-aos-duration="1000">
      <h3 class="projects__title">En proceso</h3>
      <ul class="projects__list">
        <li class="projects__item" (mouseenter)="changeBdProjectImage(0)"><span class="projects__count">001</span>
          Predicción demanda semanal</li>
        <li class="projects__item" (mouseenter)="changeBdProjectImage(1)"><span class="projects__count">002</span> Kits
          de reparación</li>
        <li class="projects__item" (mouseenter)="changeBdProjectImage(2)"><span class="projects__count">003</span>
          Insumos de trabajo</li>
      </ul>
    </div>

    <div class="projects__image" data-aos="fade-left" data-aos-duration="1000">
      <img id="bd_projects_image" class="w3-hide-small projects__picture" src="../../assets/images/bd-proj-1.jpg"
        alt="imagen de proyecto">
      <img id="bd_projects_image_mobile" class="w3-hide-large w3-hide-medium projects__picture"
        src="../../assets/images/bd-proj-mobile-1.jpg" alt="imagen de proyecto">
      <figcaption class="projects__caption">
        <h2 class="projects__subtitle"></h2>
        <p class="projects__paragraph">{{projectDescription}}</p>
      </figcaption>
    </div>
  </section>

  <section class="segment segment__total segment--paddingbottom">
    <div class="segment__card" data-aos="fade-up" data-aos-duration="500">
      <span class="segment__number">03</span>
      <span class="segment__card-span">Proyectos entregados</span>
    </div>
    <div class="segment__card" data-aos="fade-up" data-aos-duration="1000">
      <span class="segment__number">01</span>
      <span class="segment__card-span">Productos Meraki</span>
    </div>

  </section>

</div>