<div class="websites">
  <h2 class="websites__bgText" data-aos="fade-up">Websites</h2>
  <section class="segment segment--first">
    <div class="segment__description" data-aos="fade-right" data-aos-duration="1000">
      <h3 class="segment__title">Presencia online</h3>
      <p>Comenzar a tener presencia online es un trabajo arduo y que muchas veces genera un poco de miedo
        por toda la cantidad de opciones digitales que tenemos hoy en día ahí afuera, sin embargo
        ya estás aquí y sabemos que quieres empezar o mejorar, así que descuida, conseguiremos todo eso que estás
        pensando y más.
      </p>

      <img class="segment__descImage" src="../../assets/images/meraki-presencia-online.svg" alt="google cloud services">

      <p>
        Contamos con entrenamiento especializado de <strong>Google</strong> para estructurar tu plan de iniciación
        digital, así como las
        herramientas para optimizar tu página web y que puedas observar el rendimiento y analítica desde el primer
        usuario.</p>
    </div>

    <div class="segment__rightImage w3-hide-small" data-aos="fade-left" data-aos-duration="1000">
      <img class="segment__image" src="../../assets/images/meraki-paginas-web.jpg" alt="meraki paginas web">
    </div>
  </section>

  <section class="segment segment--second">
    <div class="segment__description segment__description--order" data-aos="fade-left" data-aos-duration="1000">
      <h3 class="segment__title">Listos para analizar los datos!</h3>
      <p>
        Recolectaremos los datos necesarios para saber cual debe ser el siguiente
        movimiento en tu estrategia de marketing.
      </p>
      <p>
        Para esto, realizaremos todas las conexiones que necesites en <strong>Google Analitycs</strong> y
        <strong>Facebook Analitycs</strong>. Y
        no te preocupes si no dominas el uso de estas herramientas, nosostros te enseñaremos lo necesario para que
        puedas continuar por tu cuenta,
        pero si deseas que lo hagamos por tí, no hay problema, nosotros te cubrimos.
      </p>

      <img class="segment__descImage" src="../../assets/images/meraki-google-analitycs.svg"
        alt="meraki google analitycs">
    </div>

    <div class="segment__leftImage w3-hide-small" data-aos="fade-right" data-aos-duration="1000">
      <img class="segment__image" src="../../assets/images/meraki-google-analitycs.jpg" alt="meraki google analitycs">
    </div>
  </section>

  <iframe class="frame" title="Presencia online, Páginas web, Meraki Solutions" data-aos="fade-right"
    data-aos-duration="1000" src="https://www.youtube.com/embed/DvPr6cbUOdk" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <section class="segment segment--second">
    <h2 class="websites__bgText" data-aos="fade-up">Solutions</h2>
    <div class="box__container" data-aos="fade-right" data-aos-duration="1000">
      <div class="box">
        <div class="box__content">
          <h2 class="box__subtitle">01</h2>
          <h3 class="box__title">Hosting + Dominio + SSL</h3>
          <p class="box__paragraph">Servicio de alojamiento web y correos corporativos ilimitado, con dominio y
            certificado de seguridad gratuitos</p>
          <a matRipple class="box__hosting mat-elevation-z4" aria-label="contact form hosting y dominio gratis"
            routerLink="/home/hosting">Leer más</a>
        </div>
      </div>
      <div class="box">
        <div class="box__content">
          <h2 class="box__subtitle">02</h2>
          <h3 class="box__title">Diseño y desarrollo web</h3>
          <p class="box__paragraph">Servicio de planificación , diseño y desarrollo de páginas web basadas en
            estratégias digitales</p>
          <a matRipple class="box__link mat-elevation-z4" (click)="openContact('Diseño y desarrollo web')"
            aria-label="contact form desarrollo web">Contactar asesor</a>
        </div>
      </div>
      <div class="box">
        <div class="box__content">
          <h2 class="box__subtitle">03</h2>
          <h3 class="box__title">Optimización en buscadores (SEO)</h3>
          <p class="box__paragraph">Servicio de actualización y optimización de páginas web para que sean mejor
            rankeadas en Google.</p>
          <a matRipple class="box__link mat-elevation-z4" (click)="openContact('SEO')"
            aria-label="contact form SEO">Contactar asesor</a>
        </div>
      </div>
    </div>
  </section>

  <section class="segment segment--second">
    <h2 class="websites__bgText" data-aos="fade-up">Works</h2>
    <!-- <h3>Trabajos recientes</h3> -->
    <div class="portfolio">
      <div class="portfolio__row">
        <div class="portfolio__oddItem" data-aos="fade-left" data-aos-duration="2000">
          <ul class="portfolio__featureList portfolio__featureList--left">
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Página personalizada</li>
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Página autoadministrable</li>
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Sistema de Juego y puntajes</li>
          </ul>
          <img class="portfolio__image" src="./../../../assets/images/paginas-web-mujeres-ecosolidarias.jpg"
            alt="pagina web mujeres ecosolidarias">
          <div matRipple class="portfolio__leftButton mat-elevation-z8">
            <a class="portfolio__link" href="https://mujeresecosolidarias.com" target="_blank">Visitar sitio</a>
          </div>
        </div>
        <div class="portfolio__evenItem" data-aos="fade-right" data-aos-duration="2000">
          <ul class="portfolio__featureList portfolio__featureList--right">
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Página informativa</li>
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Catálogo de productos</li>
          </ul>
          <img class="portfolio__image" src="./../../../assets/images/paginas-web-interiores.jpg"
            alt="pagina web mujeres ecosolidarias">
          <div matRipple class="portfolio__rightButton mat-elevation-z8">
            <a class="portfolio__link" href="http://www.in-teriores.com/" target="_blank">Visitar sitio</a>
          </div>
        </div>
        <div class="portfolio__oddItem" data-aos="fade-left" data-aos-duration="2000">
          <ul class="portfolio__featureList portfolio__featureList--left">
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Página informativa</li>
            <li class="portfolio__feature mat-elevation-z8"><mat-icon class="portfolio__icon">star</mat-icon> Catálogo de servicios</li>
          </ul>
          <img class="portfolio__image" src="./../../../assets/images/paginas-web-hotel-fundador.jpg"
            alt="pagina web mujeres ecosolidarias">
          <div matRipple class="portfolio__leftButton mat-elevation-z8">
            <a class="portfolio__link" href="www.fundador.pe" target="_blank">Visitar sitio</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>