.contact__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: var(--color-text);
  border-bottom: 1px solid #424242;
  max-width: 350px;
}

.contact__paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.2em;
  color: var(--color-text);
  max-width: 350px;
  margin: 0;
}

.contact-input {
  max-width: 350px;
  width: 100%;
  padding: .5em 0em;
}